<h1 mat-dialog-title>TRÁMITE DE MATRICULA</h1>
<hr/>
<mat-dialog-content class="mat-typography">
  <p> <strong>IMPORTANTE:</strong></p> 
  <p>Previo a la realización de consultas, revisar: Directiva R-160-2020-30 julio:
  Procedimiento de matrículas de Pregrado para el semestre académico 2020-II:
  https://www.uandina.edu.pe/descargas/transparencia/2020/R_R-160-2020-UAC-procedimiento-matricula2020ii.pdf
  </p>
  <ol>
    <strong><li>Solicitudes de matrícula, por equivalencias, en otra Escuela Profesional de la FIA:</li></strong>
      <p>Remitir correo electrónico, desde su correo institucional, a: ep_sistemas@uandina.edu.pe,
      especificando en el Asunto: “SOLICITUD DE MATRÍCULA POR EQUIVALENCIAS”</p>   
      <p>Indicar el detalle de la asignatura que se solicita matricular en otra Escuela Profesional: </p>
      <ul>
        <li>Plan de estudios al cual pertenece la asignatura en la EP donde desea matricularse</li>
        <li>Código de la asignatura en la EP en la EP donde desea matricularse</li>
        <li>Nombre de la asignatura en la EP en la EP donde desea matricularse</li>
        <li>Grupo en la EP en la EP donde desea matricularse</li>
        <p>(Todos estos datos son necesarios)</p>

        <p> <strong>Adjuntar al correo:</strong>  Constancia de matrícula; Horario de su matrícula actual.</p>
        <p> <strong>Nota:</strong>  Su solicitud será procesada de acuerdo a la disponibilidad de vacantes y la
          autorización que se obtenga de las diferentes escuelas profesionales
          Información de Referencia: Catálogos de Escuelas Profesionales
          https://www.uandina.edu.pe/index.php/catalogo-cursos/</p>
      </ul>
      <strong><li>Solicitudes de matrícula hasta 26 créditos, cursos paralelos y cruce de horarios </li> </strong>
       <p>(Sólo para estudiantes en condición Egresantes)</p> 
      <ul>
        <li>Remitir correo electrónico, desde su correo institucional, a: ep_sistemas@uandina.edu</li>
        <li>Indicar el detalle de la(s) asignatura(s) que se requiere matricular en paralelo, si es el caso,
          (código de la asignatura, nombre de la asignatura y grupo)</li> <br>
        <p> <strong>Adjuntar al correo:</strong> Histórico de notas; Copia de Constancia de matrícula, Horario de su
            matrícula actual </p>
        <p> <strong>Importante: </strong> Revisar detalladamente lo establecido en el apartado “e”, parte “B”, sección “VI”,
            de la Directiva de Matrículas:</p>
      </ul>
      
    <strong><li>Solicitudes Curso Dirigido:</li> </strong>
    <p>(Sólo para estudiantes en condición Egresantes)</p> 
    <ul>
      <li>Solicitud dirigida al Rector mediante correo electrónico de la facultad: fia@uandina.edu.pe,
        solicitando Matrícula en Curso(s) Dirigido(s).</li>
      <li>Indicar el detalle de la(s) asignatura(s) que requiere matricular</li>
        <ul>
          <li>Plan</li>
          <li>Código</li>
          <li>nombre de la asignatura</li>
        </ul> 
      <p> <strong>Adjuntar al correo:</strong> Pago por concepto de Trámite Administrativo, Histórico de Notas o Ficha
        de Seguimiento (Mayor información sobre requisitos en TUPA UAC 2020.   </p>
    </ul>

    <strong><li>Otras Solicitudes:</li></strong>
    <p>Para otros casos que no se indican en los puntos previos, por favor escribir desde su correo
      institucional, a: ep_sistemas@uandina.edu.pe. Explicar la situación para analizarla y proceder
      de acuerdo con la factibilidad de la misma. Idealmente, dejar su número telefónico por si
      fuese necesario contactarlo.</p>
  </ol>
  <p><strong>IMPORTANTE</strong></p>
  <ol>
    <li>Todas las solicitudes deben emitirse desde el correo institucional del estudiante.</li>
    <li>Se recibirán solicitudes que impliquen cambio de grupo para cursar asignaturas en otras
      Escuelas de la Facultad, siempre que esto le permita al estudiante agregar nuevas
      asignaturas a su matrícula original.</li>
    <li>De acuerdo con la Directiva, Los estudiantes de los planes de estudios 2013 reajustado, que
      no hayan aprobado 160 créditos serán absorbidos automáticamente por el plan estudios
      2016, sin pago por concepto de homologación automática de estudios.</li>
  </ol>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-stroked-button color="accent" (click)="openMatricula()">REALIZAR TRÁMITE</button>
</mat-dialog-actions>