<h2 mat-dialog-title>Resumen Trámite {{ tramite.tipotramite }}</h2>

<mat-dialog-content class="mat-typography">
  <!-- Arreglas con angular material o con css puro -->
  Fecha: {{ tramite.fecha }} <br>
  Código: {{ tramite.codigo }} <br>
  Nombres: {{ tramite.nombres }} <br>
  Apellidos: {{ tramite.apellidos }} <br>
  Observación: {{ tramite.observacion }} <br>
  <div>
    <!-- Lista desordenada -->
    <ul>
      <!-- lista -->
      <li *ngFor="let documento of documentosTramite">
        <!-- Aqui esta el nombre -->
        {{ documento.archivo }}
        <!-- Boton de descarga -->
        <button (click)="download(documento.archivo)">Descargar</button>
      </li>
    </ul>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <!-- Aquí agregas los 3 botones -->
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
