<h2 mat-dialog-title>Resumen Trámite {{ tramite.tipotramite }}</h2>

<mat-dialog-content class="mat-typography">
  Fecha: {{ tramite.fecha }} <br>
  Código: {{ tramite.codigo }} <br>
  Nombres: {{ tramite.nombres }} <br>
  Apellidos: {{ tramite.apellidos }} <br>
  Observación: {{ tramite.observacion }} <br>
  <div>
    <ul>
      <li *ngFor="let documento of documentosTramite">
        {{ documento.archivo }}
        <!-- <a href="D:\Proyectos Angular\Atencion_Estudiantes\Node_atencion_estudiantes\archivos\documentos\Estudiante_123456\SistSolicitudEPIS.pdf"
            target="_blank">
          Previsualizar
        </a> -->

        <button (click)="download(documento.archivo)">Descargar</button>
      </li>
    </ul>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
