<h1 mat-dialog-title>TRÁMITE CURSOS EQUIVALENTES</h1>
<hr />
<mat-dialog-content class="mat-typography">
  <p>
    Remitir correo electrónico, desde su correo institucional, a:
    ep_sistemas@uandina.edu.pe, especificando en el Asunto: “SOLICITUD DE
    MATRÍCULA POR EQUIVALENCIAS”
  </p>

  <p>
    Indicar el detalle de la asignatura que se solicita matricular en otra
    Escuela Profesional:
  </p>

  <ul>
    <li>
      <u>Plan de estudios</u> al cual pertenece la asignatura en la EP donde
      desea matricularse
    </li>
    <li>
      <u>Código</u> de la asignatura en la EP en la EP donde desea matricularse
    </li>
    <li>
      <u>Nombre de la asignatura</u> en la EP en la EP donde desea matricularse
    </li>
    <li>
      <u>Grupo</u> en la EP en la EP donde desea matricularse(Todos estos datos
      son necesarios)
    </li>
  </ul>

  <p>
    Adjuntar al correo: Constancia de matrícula; Horario de su matrícula actual
  </p>
  <p>
    Nota: Su solicitud será procesada de acuerdo a la disponibilidad de vacantes
    y la autorización que se obtenga de las diferentes escuelas profesionales
  </p>
  <p>
    Información de Referencia: Catálogos de Escuelas Profesionales
    <a
      href="https://www.uandina.edu.pe/index.php/catalogo-cursos/"
      target="_blank"
      >https://www.uandina.edu.pe/index.php/catalogo-cursos/</a
    >
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-stroked-button color="accent" (click)="openCursosEquivalentes()">
    REALIZAR TRÁMITE
  </button>
</mat-dialog-actions>
