.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://image.freepik.com/iconos-gratis/persona-importante_318-10744.jpg');
  background-size: cover;
}
.header-image-consultas{
  background-image: url('https://image.freepik.com/vector-gratis/dibujos-animados-perfil-mujer_18591-58478.jpg');
  background-size: contain;
}
.contenedor {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.space-card {
  margin: 20px;
}
.contenido-card {
 margin-bottom: 15%;
}
.botones-final{
  margin-bottom: 0px;
  margin-right: 14px;
  position: absolute;
  bottom: 3%;
  right: 1%;
}
.boton-consultas{
  position: fixed;
  bottom: 30px;
  right: 5px;
}
.card-consultas{
  position: fixed;
  width: 380px;
  bottom: 30px;
  right: 50px;
}
.input-consulta{
  width: 100%;
}
.boton-interno{
  position: relative;
  left: 40%;
}