.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://image.freepik.com/iconos-gratis/persona-importante_318-10744.jpg');
  background-size: cover;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
}
.space-card {
  margin: 20px;
}
