<h1 mat-dialog-title>OTROS TRAMITES</h1>
<hr/>
<mat-dialog-content class="mat-typography">
  <p>
    Trámite por Carné Universitario para el período julio 2019 – julio 2020 para
    todos los alumnos de la Universidad Andina del Cusco. <br />
    El <strong>nuevo carné universitario</strong> destaca la incorporación del DNI
    del estudiante como dato de identificación oficial, así como su moderno diseño
    con elementos de seguridad similares a los incorporados en los billetes y
    pasaportes. Cuenta también con un código de lectura rápida (QR) diseñado para
    smartphones, que permitirá validar con facilidad la autenticidad del
    documento.
  </p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-stroked-button color="accent" (click)="openOtrosTramites()">REALIZAR TRÁMITE</button>
</mat-dialog-actions>
