<h1 mat-dialog-title>TRÁMITE CONSTANCIA DE EGRESADO</h1>
<hr/>
<mat-dialog-content class="mat-typography">
  <p>
    Es el documento que acredita que el estudiante culminó sus estudios completos, el procedimiento solo se lleva a cabo para declarar al estudiante como egresado.  
  </p>

  <h3>REQUISITOS:</h3>

  <ul>
    <li>Tener la condición de egresado en el ERP University.</li>
    <li>El estudiante debe haber culminado con su plan de estudios incluyendo los créditos de las prácticas pre profesionales o internados y estos deben estar reconocidos en el sistema académico.</li>
    <li>El estudiante debe de revisar en el Historial de Notas del Sistema Académico el cumplimiento de todos los créditos exigidos por categorías de acuerdo con el Plan de Estudios al que pertenece.</li>
  </ul>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-stroked-button color="accent" (click)="openEgresado()">REALIZAR TRÁMITE</button>
  </mat-dialog-actions>