<h1 mat-dialog-title>Edición Secretaria {{secretaria.nombres}}</h1>
<form class="example-container" #newForm="ngForm" (ngSubmit)="AlertaGuardadoElemento(newForm)">
  <div mat-dialog-content class="contenedor">

    <mat-form-field>
      <input matInput placeholder="Nombre" name="nombres" #c_username="ngModel" [(ngModel)]="secretaria.nombres"
        minlength="2" maxlength="100" required />
      <mat-hint class="error" *ngIf="secretaria.nombres.length<2">Debe agregar algun valor</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Apellidos" name="apellidos" #c_username="ngModel"
        [(ngModel)]="secretaria.apellidos" type='text' required/>
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <mat-label>Dirección</mat-label>
      <input matInput placeholder="Ex. pat@example.com" name="direccion" c_username="ngModel"
      [(ngModel)]="secretaria.direccion" required type="text">
    </mat-form-field>

  </div>
  <div mat-dialog-actions>

    <button color="primary" mat-button type="submit" cdkFocusInitial [disabled]="!newForm.form.valid">
      <mat-icon>save</mat-icon>
      <span>Guardar</span>
    </button>
  </div>

</form>
