<h1 mat-dialog-title>Edición {{equipo.producto}}</h1>
<form class="example-container" #newForm="ngForm" (ngSubmit)="AlertaGuardadoElemento(newForm)">
  <div mat-dialog-content class="contenedor">

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field>
            <mat-label>Productos</mat-label>
            <mat-select [disabled]="disableSelect.value">
              <mat-option (click)="cambiarIdProd(option.id_catalogo)" *ngFor="let option of productos" [value]="option.id_catalogo">
                  {{option.producto}}
              </mat-option>
            </mat-select>
          </mat-form-field>          
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <mat-label>Modelo</mat-label>
            <mat-select [disabled]="disableSelect.value">
              <mat-option (click)="cambiarIdProd(option.id_catalogo)" *ngFor="let option of productos" [value]="option.id_catalogo">
                  {{option.modelo}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Marca</mat-label>
            <mat-select [disabled]="disableSelect.value">
              <mat-option (click)="cambiarIdProd(option.id_catalogo)" *ngFor="let option of productos" [value]="option.id_catalogo">
                  {{option.marca}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <mat-form-field>
      <mat-label>Estado</mat-label>
      <mat-select [(ngModel)]="equipo.estado" name="estado" required>
        <mat-option *ngFor="let estado of estados" [value]="estado.value">
          {{estado.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Laboratorio*" aria-label="Number" matInput [formControl]="myControl"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option (click)="cambiarIdLab(option)" *ngFor="let option of laboratorios" [value]= "option">
          LAB 30{{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>

    <button mat-button type="submit" >
      <mat-icon>save</mat-icon>
      <span>Guardar</span>
    </button>
  </div>

</form>