<h1 mat-dialog-title>TRÁMITE CONSTANCIA DE PROMEDIO PONDERADO ACUMULADO</h1>
<hr/>
<mat-dialog-content class="mat-typography">
  <p>
    Dependiendo del estado académico del estudiante pueden salir tres tipos de constancias:  
  </p>
<ol>
    <li>DEL EGRESADO:</li>
    <p>Documento que indica el promedio ponderado acumulado del egresado, considerando solo notas aprobadas de las asignaturas que cursó, sin tomar en cuenta las notas de Practicas Pre profesionales o Internados.</p> 
    <h5>REQUISITO:</h5>
    <ul>
        <li> Tener condición de egresado.</li>
    </ul>
    <br>
    <li>DEL ESTUDIANTE:</li>
    <p>Documento que indica el promedio ponderado acumulado del estudiante, se consideran todas las calificaciones de las asignaturas aprobadas, desaprobadas y reprobadas y las asignaturas registradas con (NS) se consideran como nota (00).</p> 
    <br>
    <li>PROMOCIONAL:</li>
    <p>Documento que se emite al concluir los estudios de pregrado sin haber realizado las practicas pre profesionales o los internados clínicos de una Escuela profesional, es el promedio de las notas aprobadas, desaprobadas y reprobadas sin considerar las notas con calificativo NS.</p> 
    <h5>REQUISITO:</h5>
    <ul>
        <li> El estudiante concluyo con todas las asignaturas del plan de estudios excepto Practicas Pre Profesionales o Internado.</li>
    </ul>
</ol>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-stroked-button color="accent" (click)="openPromedio()">REALIZAR TRÁMITE</button>
  </mat-dialog-actions>