<form class="example-form" [formGroup]="form" (ngSubmit)="alertaActualizarContrasenia($event)">
  <h2>Cambio de Contraseña Usuario: {{ usuario }}</h2>
  <mat-form-field class="example-full-width">
    <mat-label>Contraseña Actual</mat-label>
    <input matInput formControlName="oldpassword" placeholder="Ingrese su contraseña actual" [type]="hide ? 'password' : 'text'">
    <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </a>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Contraseña Nueva</mat-label>
    <input matInput formControlName="password" placeholder="Ingrese su contraseña nueva" [type]="hide2 ? 'password' : 'text'">
    <a mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
      <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </a>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Confirme Contraseña Nueva</mat-label>
    <input matInput formControlName="confirmpassword" placeholder="Confirme su contraseña nueva" [type]="hide3 ? 'password' : 'text'">
    <a mat-icon-button matSuffix (click)="hide3 = !hide3" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide3">
      <mat-icon>{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </a>
  </mat-form-field>
  <button type="submit" [disabled]="form.invalid" mat-raised-button color="warn">Cambiar Contraseña</button>
</form>
