<mat-toolbar color="primary">
  <a mat-stroked-button [routerLink]="['/infotramite']" style="border-style: none;">Trámite Documentario</a>
  <span class="example-spacer"></span>
  <div>
    <button mat-button [matMenuTriggerFor]="usuario">
      <mat-icon>person</mat-icon>
      <label class="titulo">
        <span>{{ username }}</span>
      </label>
    </button>
    <mat-menu #usuario="matMenu">
      <!-- <button mat-menu-item (click)="openDialogClave()">Cambiar Contraseña</button> -->
      <button mat-menu-item (click)="logoff()">Cerrar Sesión</button>
    </mat-menu>
  </div>
</mat-toolbar>
