<div>
  <h1>TRÁMITE CARNÉ UNIVERSITARIO</h1>
</div>
<hr />
<p>
  Trámite por Carné Universitario para el período julio 2019 – julio 2020 para
  todos los alumnos de la Universidad Andina del Cusco. <br />
  El <strong>nuevo carné universitario</strong> destaca la incorporación del DNI
  del estudiante como dato de identificación oficial, así como su moderno diseño
  con elementos de seguridad similares a los incorporados en los billetes y
  pasaportes. Cuenta también con un código de lectura rápida (QR) diseñado para
  smartphones, que permitirá validar con facilidad la autenticidad del
  documento.
</p>

<h3>REQUISITOS:</h3>

<ol>
  <li>Estar matriculado en el presente semestre académico 2019-II</li>
  <li>Recibo de pago por concepto de Carné Universitario</li>
  <li>Tener fotografía digitalizada en el ERP University.</li>
  <li>
    Los INGRESANTES DEL SEMESTRE ACADÉMICO 2019-II, deben entregar de forma
    OBLIGATORIA su fotografía digitalizada, según CARACTERÍSTICAS (líneas abajo)
    en la Oficina de Grados y Títulos. <br />
    Los alumnos que NO son ingresantes y NO poseen fotografía en el ERP
    University, también pueden entregar la fotografía digitalizada según
    CARACTERÍSTICAS (líneas abajo)
  </li>
  <li>
    Validar el número de DNI que debe estar registrado correctamente en el ERP University, caso contrario usted debe aproximarse a la Dirección de Tecnologías de Información para actualizar sus datos.
  </li>
</ol>

<h3>CARACTERÍSTICAS DE LA FOTO PARA EL CARNÉ UNIVERSITARIO:</h3>

<p>Las fotografías digitalizadas presentadas por los estudiantes deben tener las siguientes características:</p>

<ul>
  <li>Formato .jpg (traer en CD a la Oficina de Grados y Titulos)</li>
  <li>Imagen de frente a color en fondo blanco. No se procesarán las que tuviesen fondo a color.</li>
  <li>Imagen solamente del rostro. No mostrar hombros, sin gorra y sin gafas o lentes de color oscuro (a excepción de invidentes).</li>
  <li>Color verdadero de 24 bits. Mínimo.</li>
  <li>Dimensión 240*288 píxeles.</li>
  <li>Resolución mínima 300 dpi (puntos por pulgada).</li>
  <li>Sin sellos ni enmendaduras.</li>
  <li>Peso adecuado de la imagen, menores a 50 kb.</li>
  <li>Prohibido traer imágenes escaneadas.</li>
</ul>

<button mat-stroked-button color="accent" (click)="openCarnet()">REALIZAR TRÁMITE</button>
