<app-menu>
    <div class="contenedor">
        <mat-form-field style="width: 100%">
            <input matInput [(ngModel)]="searchText" type="text" placeholder="Search" [formControl]="myControl"
                [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions| async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <!-- Card de cada tramite -->
        <mat-card class="example-card space-card"
            *ngFor="let sesion of tablaSesiones| search:'nombre_curso':searchText" [class.mat-elevation-z8]=true>
            <div class="fondo">
                <mat-card-header>
                    <img mat-card-avatar class="example-header-image" *ngIf="sesion.nombre_curso"
                        src="https://image.freepik.com/vector-gratis/perfil-avatar-hombre-icono-redondo_24640-14044.jpg">

                    <mat-card-title>{{sesion.nombre_curso}}</mat-card-title>
                    <mat-card-subtitle> Cod: {{sesion.cod_curso}}</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content class="contenido-card">
                    <mat-chip-list class="mat-chip-list-stacked">
                        <mat-chip color="primary" selected>
                            <mat-icon>history</mat-icon>
                            Docente: {{sesion.docente}}
                        </mat-chip>
                        <mat-chip  color="primary" selected>
                            <mat-icon>receipt</mat-icon>
                            Seccion: {{sesion.seccion}}
                        </mat-chip>
                        <mat-chip color="primary" selected>
                            <mat-icon>receipt</mat-icon>
                            Ciclo: {{sesion.ciclo}}
                        </mat-chip>
                        <mat-chip *ngIf='funcionenlace(sesion.enlace)==true' color="warn" selected>
                            <mat-icon> person_pin</mat-icon>
                            Enlace: 
                            <a  target="_blank" href="{{sesion.enlace}}">{{sesion.enlace}}</a> 
                        </mat-chip>
                        <mat-chip *ngIf='funcionenlace(sesion.enlace)==false' color="warn" selected>
                            <mat-icon> person_pin</mat-icon>
                            Seguir : {{sesion.enlace}}
                        </mat-chip>
                        <mat-chip color="primary" selected>
                            <mat-icon> person_pin</mat-icon>
                            Plan Curricular: {{sesion.plan_anio}}
                        </mat-chip>
                    </mat-chip-list>
                 </mat-card-content>
            </div>
        </mat-card>
    </div>

</app-menu>
