<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
        <mat-toolbar style="display: flex; justify-content: space-between;" class="mat-elevation-z4" color="primary">
          <label class="titulo">MENU</label>
          <img src="assets/img/logo_sistemas_andina.png" alt="Logo" width="70px">
        </mat-toolbar>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/usuario']" *ngIf="user">
              <mat-icon>person</mat-icon>
              <span>Usuarios</span>
          </a>
          <a mat-list-item [routerLink]="['/administrador']" *ngIf="administrador">
              <mat-icon>people_alt</mat-icon>
              <span>Administradores</span>
          </a>
          <a mat-list-item [routerLink]="['/estudiante']" *ngIf="estudiantes">
              <mat-icon>sentiment_very_satisfied</mat-icon>
              <span>Estudiantes</span>
          </a>
          <a mat-list-item [routerLink]="['/reportestramites']" *ngIf="reportetramites">
              <mat-icon>recent_actors</mat-icon>
              <span>Filtro Estudiante - Trámites</span>
          </a>
          <a mat-list-item [routerLink]="['/controlestadotramites']" *ngIf="controlestadotramites">
            <mat-icon>fact_check</mat-icon>
            <span>Control General de Trámites</span>
          </a>
          <!-- Estudiante -->
          <a mat-list-item [routerLink]="['/infotramite']" *ngIf="tramitedocumentario">
              <mat-icon>recent_actors</mat-icon>
              <span>Trámites Documentarios</span>
          </a>
          <a mat-list-item [routerLink]="['/mistramites']" *ngIf="mistramites">
              <mat-icon>folder_shared</mat-icon>
              <span>Mis Trámites</span>
          </a>
          <a mat-list-item [routerLink]="['/misconsultas']" *ngIf="misconsultas">
              <mat-icon>message</mat-icon>
              <span>Consultas</span>
          </a>
          <a mat-list-item [routerLink]="['/informativoprincipal']" *ngIf="informativoprincipal">
            <mat-icon>message</mat-icon>
            <span>Tramites Informativos</span>
          </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="mat-elevation-z4" color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <label class="titulo">
                ATENCIÓN DE ESTUDIANTES
            </label>
            <span class="example-fill-remaining-space"></span>
            <button mat-button [matMenuTriggerFor]="usuario">
                <mat-icon>person</mat-icon>
                <label class="titulo">
                    <span>{{username}}</span>
                </label>
            </button>
            <mat-menu #usuario="matMenu">
                <button mat-menu-item (click)="openDialogClave()">Cambiar Contraseña</button>
                <button mat-menu-item (click)="logoff()">Cerrar Sesión</button>
            </mat-menu>
        </mat-toolbar>
        <ng-content>

        </ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
